.simple_button {
    background-color: green;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    max-width: 40%;
    margin-top: 20px;
}
