.long_poster {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
}

.poster_img {
    width: 50%;
    position: relative;
    min-height: 200px;
    max-height: 400px;
}

.poster_area {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}