.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    max-width: 300px;
    margin-left: 50px;
    margin-top: 50px;
}

.centralizador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contain_add_recent_files {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}