
.header {
    background-color: var(--black);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

.logo {
    width: 70px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav .link {
    color: var(--branco);
    font-family: 'Exo 2';
    font-size: 1.3em;
    text-decoration: none;
    transition: all 0.5s;
}

.nav .link:hover {
    font-size: 1.4em;
    color: var(--roxo);
    text-decoration: underline;
}

.logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.kraken {
    font-family: 'Montserrat', sans-serif;
    color: var(--branco);
    font-size: 2em;

}

.account_area {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.account_name {
    display: flex;
    flex-flow: column nowrap;
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
}

.account_name_strong {
    font-weight: bold;
}